body {
  color: white;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  width: 100%;

  .bin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // background-color: #282c34;
    min-height: 100vh;
  }

  .loading {
    display: flex;
    justify-content:center;
    // align-items: center;
    width: 100%;
    height: 200px;

    &__container {
      display: flex;
      // justify-content: center;
      margin-top: 50px;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      width: 100%;

      &__spinner .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;

        div {
          box-sizing: border-box;
          display: block;
          position: absolute;
          width: 64px;
          height: 64px;
          margin: 8px;
          border: 8px solid #3332326b;
          border-radius: 50%;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          border-color: #3332326b transparent transparent transparent;
        }

        div:nth-child(1) {
          animation-delay: -0.45s;
        }

        div:nth-child(2) {
          animation-delay: -0.3s;
        }

        div:nth-child(3) {
          animation-delay: -0.15s;
        }

        @keyframes lds-ring {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  .news {
    color: black;
    width: 95%;
    h2 {
      margin-bottom: -70px;
    }
  }
  .products {
    width: 100%;
    color: black;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;

    .product {
      margin-top: 120px;
      width: 180px;
      height: 250px;
      &__img {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__user {
        margin-bottom: 5px;
        font-size: small;
        color: grey;
      }
      &__price {
        margin-top: 5px;
        font-weight: 500;
      }
      &__size {
        margin-top: 5px;
        font-size: small;
        color: grey;
      }
      &__brand {
        margin-top: 5px;
        font-size: small;
        color: grey;
        padding-bottom: 50px;
      }
      .userBox {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .userBox__avatar img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }
  .brandsAll {
    width: 95%;
    color: black;
    margin-bottom: 40px;
    &__list {
      margin-top: 50px;
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      gap: 10px;
    }
    .listItem {
      border: 0.1px solid rgba(128, 128, 128, 0.307);
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: 500;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.736);
    }
    .listItem:hover{
      background-color: rgba(193, 191, 191, 0.205);
      transition-duration: 0.25s;
    }
  }
}
